
.nav {
    grid-area: second;
    display: flex;
    align-items: center;
    
}

.item {
    color: rgb(2, 2, 2);
}

.activeLink  {
    color: gold;
}

a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
  width: 35px;
  height: 35px;
}